<!-- <br><p></p><br/>
<div>
  <p>
    {{ task!.id +1 }} : {{ task?.title }} : {{ task?.completed }}
  </p>
  <p>{{task?.description}}</p>
  <p>{{ task?.date | date:'d MMM Y HH:mm' :'fr' }}</p>
</div> -->

<!-- <mat-card >
  <mat-card-header>Details :</mat-card-header>
  <mat-card-content> {{ task!.id +1 }} : {{ task?.title }} : {{ task?.completed }}</mat-card-content>
  <mat-card-content>{{task?.description}}</mat-card-content>
  <mat-card-footer>{{ task?.date | date:'d MMM Y HH:mm' :'fr' }}</mat-card-footer>


</mat-card> -->

<div class="card text-center">
  <div class="card-header">Details :</div>
  <div class="card-body">
    <h5 class="card-title">{{ task!.id +1 }} : {{ task?.title }}</h5>
    <p class="card-text"> {{ task?.completed }}</p>

  </div>
  <div class="card-footer text-muted">{{ task?.date | date:'d MMM Y HH:mm' :'fr' }}</div>
</div>
