<!-- //interpolation pour afficher directement les valeurs -->

<li [class]="getItemVariant()">
  {{task.id + 1}}°)  {{task.date| date:'d MMM Y HH:mm' :'fr'}}<input [(ngModel)]="task.title" />{{ task.title }} is here {{task.description}}
  <span [class]="getBadgeVariant()">{{ getComplete() }} !!</span>


  <a [routerLink]="['/todolist', task.id]" routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}">

  <div>
    <p>
      {{ task.id }} : {{ task.title }} :
      <span [class]="getBadgeVariant()">{{ getComplete() }}</span>
    </p>
    <p>{{task.description}}</p>
    <p>{{ task.date | date:'d MMM Y HH:mm' :'fr' }}</p>
  </div>

</a>

  <button (click)="send()" mat-raised-button color="primary">
    {{ getButtonText() }}
  </button>
</li>

