
<ul *ngIf="count > 0; else noList">
  <app-task
  *ngFor="let task of tasks; trackBy: trackByFunction"
  [task]="task"
  (message)="changeCount($event)"
  ></app-task>
</ul>
<ng-template #noList>Pas de tâches à effectuer pour le moment !</ng-template>

<div [ngSwitch]="true">

  <p *ngSwitchCase="percentage == 0"></p>
  <p *ngSwitchCase="percentage >=1 && percentage <=51">les tâches sont en cours</p>
  <p *ngSwitchCase="percentage >51 && percentage <=99">Vous avez bientôt fini !!</p>
  <p *ngSwitchDefault=""></p>

</div>
<p>Compteur {{ count }}</p>
