
.active a {
  font-weight: bold;
  color: darkblue;
}

a {
  color: blue;
}

ul{
  display: flex;
  justify-content: space-around;
  background-color: rgb(167, 244, 152);
  line-height: 4rem;
}

ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;

}

ul li{
  list-style-type: none;
}
